.navbar.navbar-bot.fixed-bottom
	.container
		.col-md-3 
			.div CREATE EUROPE ADMINISTRERES AF DET DANSKE FILMINSTITUT OG SLOTS- OG KULTURSTYRELSEN
			.div.col-md-12
				img.col-md-6(class='footer-img', src='/images/det-danske-filmindstitut-logo.png')
				img.col-md-6(class='footer-img', src='/images/slots-kultur-styrelsen-logo.png')
		.col-md-6
			div TILMELD DIG VORES NYHEDSBREV
			div.footer-newsletter.row.justify-content-md-center
				.col-md-auto
					input(class='footer-input' value='')
				.col-md-3
					button(class='footer-button') TILMELD

		div.col-md-3 
			div FIND OS
			row.footer-social.justify-content-md-center
				img.col.col-4(class='footer-social-icon' src='/images/footer-facebook-logo.png')
				img.col.col-4(class='footer-social-icon' src='/images/footer-twitter-logo.png')