header.navbar.navbar-expand.fixed-top.flex-column.flex-md-row.bd-navbar.border.border-light.border-top-0.border-right-0.border-left-0
  a.navbar-brand(href='/')
    img(class='navbar-logo' alt='Brand' src='/images/icon-nav-bar.jpg')
  div.navbar-nav
    a(class='nav-item nav-link' id='/about' href='/about') OM CREATIVE EUROPE
    a(class='nav-item nav-link' href='/') PULJER
    a(class='nav-item nav-link' href='/') TILSKUDSMODTAGERE
    a(class='nav-item nav-link' href='/') ARRANGEMENTER
    a(class='nav-item nav-link' href='/') FAQ
    a(class='nav-item nav-link' id='/news' href='/news') NYHEDER
    a(class='nav-item nav-link' href='/') KONTAKT