.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.col-md-2
      a(href='#')
        img(class='navbar-logo', alt='Brand', src='/images/icon-nav-bar.jpg')
    div(id='navbar', class=['navbar-collapse','collapse','col-md-10'])
       ul.nav.navbar-nav
         li
           a(href='#')
            .navbar-item OM CREATIVE EUROPE
         li
           a(href='#')
            .navbar-item PULJER
         li
           a(href='#')
            .navbar-item TILSKUDSMODTAGERE
         li
           a(href='#')
            .navbar-item ARRANGEMENTER
         li
           a(href='#')
            .navbar-item FAQ
         li
           a(href='#')
            .navbar-item NYHEDER
         li
           a(href='#')
            .navbar-item KONTAKT