.navbar.navbar-expand-lg.fixed-top
  a.navbar-brand(href='#')
    img(class='navbar-logo' alt='Brand' src='/images/icon-nav-bar.jpg')
  ul.navbar-nav
    li.nav-item.active
      a(class='nav-link' href='#') OM CREATIVE EUROPE
        span.sr-only (current)
    li.nav-item
      a(class='nav-link' href='/puljer') PULJER
    li.nav-item
      a(class='nav-link' href='/beneficiaries') TILSKUDSMODTAGERE
    li.nav-item
      a(class='nav-link' href='/events') ARRANGEMENTER
    li.nav-item
      a(class='nav-link' href='/faq') FAQ
    li.nav-item
      a(class='nav-link' href='/news') NYHEDER
    li.nav-item
      a(class='nav-link' href='/contact') KONTAKT