extends layout

block content
	div.col-md-8.offset-md-2#about-body
		div#about-headline Hvad er Creative Europe?
		iframe.about-iframe(allowfullscreen='allowfullscreen' type='text/html' src='https://www.youtube.com/embed/ntqeJDw0LfE', frameborder='0')