extends layout

block content
	div(id='carousel' class='carousel slide' data-ride='carousel')
		ol(class='carousel-indicators')
			li(data-target='carousel' data-slide-to='0' class='active')
			li(data-target='carousel' data-slide-to='1')
			li(data-target='carousel' data-slide-to='3')
		.carousel-inner
			.carousel-item.active
				img(src='/images/carousel-img-1.jpg' class="d-block w-100" alt='First slide')
				.carousel-caption
					h3 Title
					p Subtitle
			.carousel-item
				img(src='/images/carousel-img-2.jpg' class="d-block w-100" alt='Second slide')
				.carousel-caption
					h3 Title
					p Subtitle
			.carousel-item
				img(src='/images/carousel-img-3.jpg' class="d-block w-100" alt='Third')
				.carousel-caption
					h3 Title
					p Subtitle
		a(class='carousel-control-prev' href='#carousel' role='button' data-slide='prev')
			span(class="carousel-control-prev-icon" aria-hidden="true")
			span(class="sr-only")	Forrige
		a(class='carousel-control-next' href='#carousel' role='button' data-slide='next')
			span(class="carousel-control-next-icon" aria-hidden="true")
			span(class="sr-only")	Næste
