extends layout

block content
	div(id='carousel' class='carousel slide ' data-ride='carousel')
		ol(class='carousel-indicators')
			li(data-target='carousel' data-slide-to='0' class='active')
			li(data-target='carousel' data-slide-to='1')
			li(data-target='carousel' data-slide-to='3')
		.carousel-inner
			.carousel-item.active
				img(src='/images/carousel-img-1.jpg' class="d-block w-100" alt='First slide')
				.carousel-caption.header-carousel-caption
					.text-left.carousel-title FORLAG FÅR EU-STØTTE TIL OVERSÆTTELSE AF TOP-LITTERATUR
					p
			.carousel-item
				img(src='/images/europe-dancenetwork.jpg' class="d-block w-100" alt='Second slide')
				.carousel-caption.header-carousel-caption
					.text-left.carousel-title ANERKENDT EUROPÆISK DANSENETVÆRK UDVÆLGER DANSK KOREOGRAF
					p
			.carousel-item
				img(src='/images/roskilde-library.jpg' class="d-block w-100" alt='Third')
				.carousel-caption.header-carousel-caption
					.text-left.carousel-title ROSKILDE BIBLIOTEKERNE VISER LITTERATUR I ALLE AFSKYGNINGER
					p
		a(class='carousel-control-prev' href='#carousel' role='button' data-slide='prev')
			span(class="carousel-control-prev-icon" aria-hidden="true")
			span(class="sr-only")	Forrige
		a(class='carousel-control-next' href='#carousel' role='button' data-slide='next')
			span(class="carousel-control-next-icon" aria-hidden="true")
			span(class="sr-only")	Næste
	#headline
		p.col-md-8.offset-md-2.text-justify#headline-text Creative Europe er et EU-støtteprogram, der har til formål at bevare og udvikle den kulturelle og sproglige mangfoldighed i Europa og styrke de kulturelle og kreative sektorers konkurrenceevne. EU-programmet retter sig mod en bred vifte af kunstnere og aktører inden for de kulturelle og audiovisuelle sektorer, herunder blandt andre museer, biblioteker, teatre, musikhuse, filmproducenter, filmfestivaler og filmselskaber.	
	row
		img.img-responsive#signature-img(src='/images/index-signature.png')
		div.carousel-caption.signature-carousel-caption