extends layout

block content
	div.row.div.col-md-10.offset-md-2
		div.demo-card.mdl-card.mdl-shadow--2dp
			div.mdl-card__title(style='background-image: url(/images/jazz-denmark.jpg)')
				h2.mdl-card__title-text 
			div.mdl-card__supporting-text
				div.mdl-card-title JAZZDANMARK: "SÅDAN GRIBER DU BEDSTE ANSØGNINGSPROCESSEN AN"
				div Hvis man er Creative Europe-ansøger, så er det lige nu, den helt store pulje ”Samarbejdsprojekter” i kulturdelen af EU-støtteprogrammet ”Creative Europe” er åben for ansøgninger. JazzDanmark sad i præcis den situation for et år siden, og her deler de deres erfaringer med ansøgningsprocessen.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=jazz-denmark') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp 
			div.mdl-card__title(style='background-image: url(/images/forlag-eu-support.jpg)')
				h2.mdl-card__title-text
			div.mdl-card__supporting-text
				div.mdl-card-title FORLAG FÅR EU-STØTTE TIL OVERSÆTTELSE AF TOP-LITTERATUR
				div Det danske forlag Jensen & Dalgaard har netop modtaget en bevilling fra EU på cirka 337.000 kroner til oversættelse af prisvindende litteratur fra små sprogområder.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=publisher') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp 
			div.mdl-card__title(style='background-image: url(/images/europe-dancenetwork.jpg)')
				h2.mdl-card__title-text
			div.mdl-card__supporting-text
				div.mdl-card-title ANERKENDT EUROPÆISK DANSENETVÆRK UDVÆLGER DANSK KOREOGRAF
				div Den danske koreograf Hilde Ingeborg Sandvold er én blandt 20 internationale kunstnere, som er udtaget til at deltage i det anerkendte europæiske netværk Aerowaves i 2018.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=dancenetwork') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp
			div.mdl-card__title(style='background-image: url(/images/roskilde-library.jpg)')
				h2.mdl-card__title-text 
			div.mdl-card__supporting-text
				div.mdl-card-title ROSKILDE BIBLIOTEKERNE VISER LITTERATUR I ALLE AFSKYGNINGER
				div I en ny, international udstilling viser Roskilde Bibliotekerne en del af deres internationale projekt ”Turn on Literature”, som er støttet af ”Creative Europe”.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=library') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp 
			div.mdl-card__title(style='background-image: url(/images/european-year.jpg)')
				h2.mdl-card__title-text
			div.mdl-card__supporting-text
				div.mdl-card-title BLIV EN DEL AF EUROPÆISK ÅR FOR KULTURARV I 2018
				div EU-parlamentet og EUs kulturministre har udnævnt 2018 til ”Europæisk År for Kulturarv”. Målet er at sætte fokus på både den nationale kulturarvs værdi og betydning og på den fælles og uadskillelige kulturarv, vi deler på tværs af Europas landegrænser.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=europe-year') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp 
			div.mdl-card__title(style='background-image: url(/images/beate-cegielska.jpg)')
				h2.mdl-card__title-text
			div.mdl-card__supporting-text
				div.mdl-card-title EU-PLATFORME HITTER BLANDT DANSKE ORGANISATIONER
				div For tredje og sidste gang frem til 2020 har EU-støtteprogrammet ”Creative Europe” uddelt midler fra puljen ”Europæiske Platforme”. Fire projekter med dansk deltagelse har igen fået støtte, mens tre nye projekter med dansk deltagelse også er at finde på listen over tilskudsmodtagere.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=beate-cegielska') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp
			div.mdl-card__title(style='background-image: url(/images/far-til-fire-på-toppen.jpg)')
				h2.mdl-card__title-text 
			div.mdl-card__supporting-text
				div.mdl-card-title EU TILDELER MERE END EN MILLION KRONER TIL UDVIKLING AF DANSKE FILMPROJEKTER
				div Europa-Kommissionen har netop uddelt støttemidler til udvikling af enkelte filmprojekter. Blandt modtagerne findes denne gang tre danske filmselskaber, der tilsammen modtager mere end en million danske kroner.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=far-til-fire') Læs mere
		div.demo-card.mdl-card.mdl-shadow--2dp 
			div.mdl-card__title(style='background-image: url(/images/ace-producers.jpg)')
				h2.mdl-card__title-text
			div.mdl-card__supporting-text
				div.mdl-card-title UNIK MULIGHED FOR NYE FILMPRODUCERE: ACE TRAINING DAYS NORDIC FOCUS 2017
				div Det internationalt anerkendte netværk af filmproducere, ACE Producers, der normalt arrangerer kurser for de erfarne spillere i filmbranchen, inviterer nu nye, uafhængige producere fra de nordiske lande til Nordic Focus Training Days.
			div.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/article?article=ace-producers') Læs mere