div.news-partial-headline UNIK MULIGHED FOR NYE FILMPRODUCERE: ACE TRAINING DAYS NORDIC FOCUS 2017
a Det internationalt anerkendte netværk af filmproducere, ACE Producers, der normalt arrangerer kurser for de erfarne spillere i filmbranchen, inviterer nu nye, uafhængige producere fra de nordiske lande til Nordic Focus Training Days.
div.col-md-8.offset-md-2
	img.img-responsive.news-partial-image(src='/images/ace-producers.jpg')
div.news-partial-grey-text 
a Under overskriften <b> The Essentials of International Sales and Distribution </b> inviteres nye, uafhængige filmproducere fra Danmark, Norge, Sverige, Finland, Island og Estland til et 2,5-dages kursus arrangeret af ACE Producers, der ellers normalt er forbeholdt mere erfarne filmproducere.
br
br
a Konsulenter fra ACE-netværket med erfaring indenfor international finansiering, salg og distribution vil dele ud af deres viden og internationale ekspertise under kurset, der blandt andet vil bestå af plenum-sessioner, gruppemøder, case-studies og interaktive workshops. 
br
br
a Alt dette giver deltagerne mulighed for at udforske og få insiderviden om internationalt salg, distribution, marketing og festivalstrategier, samt for at mødes med ACE-netværket.
br 
br
a Som ”ny”, er det et krav at du er en uafhængig filmproducer på et relativt tidligt stadie i din karriere, og at du har produceret mindst to kortfilm.
div.news-partial-subtitle Tid og sted 
a 2.-4. december 2017, Espoo, Finland
div.news-partial-subtitle Pris
a Det koster 300 EUR at deltage på kurset. Prisen inkluderer ikke rejse og ophold
div.news-partial-subtitle Tilmelding
a For at tilmelde sig en af de kun ca. 20 pladser, sendes følgende dokumenter (på engelsk og i PDF format) til Al Williams senest d. 18. oktober:
br
br
a Biografi/filmografi (inkl. kontaktinfo) og/eller firmaprofil
br
br
a Motiveret ansøgning
div.news-partial-subtitle Kontakt
a Al henvendelse og spørgsmål vedr. kursusprogrammet og ansøgningsprocedure skal rettes til Al Williams fra ACE Producers.
br
br
a(href='http://ace-producers.com/training_days2/nordic-focus-training-days/') Læs mere her. 