div.news-partial-headline EU-PLATFORME HITTER BLANDT DANSKE ORGANISATIONER
a For tredje og sidste gang frem til 2020 har EU-støtteprogrammet ”Creative Europe” uddelt midler fra puljen ”Europæiske Platforme”. Fire projekter med dansk deltagelse har igen fået støtte, mens tre nye projekter med dansk deltagelse også er at finde på listen over tilskudsmodtagere.
img.img-responsive.news-partial-image(src='/images/beate-cegielska.jpg')
div.news-partial-grey-text Beate Cegielska er leder af Galleri Image, som er en organisation på listen. Foto: Nicklas Zalcman.
a En dansefestival i Aarhus, flere koncerter i Vega og en arkitekturfestival i København. Det er blandt andet, hvad omkring 500.000 Euro – eller mere end 3,5 millioner kroner – er blevet brugt til. Støtten kommer fra puljen ”Europæiske platforme”, som er en del af EU-støtteprogrammet ”Creative Europe” og udbetales fire år i træk.
br
br
a I april 2017 var der ansøgningsfrist for at få tildelt støtte, og i starten af september offentliggjorde Europa-Kommissionen listen over de heldige, der er blevet tildelt tilskud fra puljen, og hele 10 danske organisationer er i år på listen.
br
br
a Det er muligt at deltage i EU-projekter som ”lead-organisation”, hvor man agerer både ansøger og projektleder og dermed bærer det største ansvar. Men det er også muligt at deltage som partnerorganisation, og det gør alle de danske organisationer i disse projekter. Projekterne har derfor hjemsted over alt i Europa:
br
br
a LivEurope i Belgien, Future Architecture i Slovenien, Aerowaves i Storbritannien og European Talent Exchange Program i Holland. Dette er projekterne, som har fået forlænget deres støtte, men alle projekterne har danske deltagere, der tæller henholdsvis Vega, Copenhagen Architecture Festival/MICHAU+, Dansehallerne, Bora Bora og Yourope.
br
br
a Derudover har tre nye projekter, der også har danske deltagere, modtaget støtte. Det er projekterne PARALLEL Photo Platform i Portugal, Distributed Design Market Platform i Spanien og FEDORA Platform i Frankrig. De danske deltagere i projekterne er Galleri Image, KATALOG – Journal of Photography & Video, Dansk Design Center i København, Foreningen Maker og Den Jyske Opera.

div.news-partial-subtitle HÅRDT ARBEJDE BELØNNES
a Der går et stort arbejde forud for alle ansøgninger til puljer fra de forskellige EU-støtteprogrammer, og derfor er de mange positive resultater i år et velfortjent skulderklap til danske virksomheder, kommuner og organisationer og et bevis på, at omhyggelighed med ansøgninger og vedholdenhed betaler sig.



div.news-partial-subtitle SLOTS- OG KULTURSTYRELSENS EU-UDVIKLINGSKONSULENT BRADLEY ALLEN SIGER:
a ”Det er rigtig godt gået, at så mange danske organisationer i år har fået et positivt svar på de projekter, de er en del af, og som nu er blevet tildelt støtte fra EU. Det er et kæmpe arbejde at lave gode ansøgninger, der lever op til EU's krav, men samtidig viser det også vigtigheden i at arbejde grundigt og dedikeret med EU-ansøgninger. Det arbejde støtter vi hele tiden op omkring i Creative Europe Desk Denmark.”
br
br
a Puljen ”Europæiske platforme” støtter projekter, som promoverer nye og fremspirende talenter igennem samarbejde, både hvad angår både finansiering, produktion, men også programplanlægning.
div.news-partial-subtitle EU-UDVIKLINGSKONSULENT BRADLEY ALLEN SIGER:
a ”Puljen for europæiske platforme er den pulje fra ”Creative Europe”, som potentielt kan have størst indvirkning på især unge kunstneres karrierer. Det er en lang række forskellige distributionsplatforme som for eksempel festivaller, workshops eller messer, der giver kunstnerne en stor mulighed for at forbedre deres kunstneriske virke og spejle sig selv i et netværk af andre dygtige kunstnere på et højt niveau i Europa.”
div.news-partial-subtitle STOR ÆRE AT BLIVE UDVALGT
a Galleri Image i Aarhus er en af de danske organisationer, som er med i det nye projekt ”PARALLEL Photo Platform”, der har fået tildelt støtte.
br
br
a Og for den lille kunsthal har udvælgelsen stor betydning for deres fortsatte engagement i europæisk talentudvikling inden for samtidsfotografi, der er et kunsthallens specialer:
div.news-partial-subtitle LEDER AF GALLERI IMAGE BEATE CEGIELSKA SIGER:
a ”Det er en stor cadeau at være blevet inviteret til at være med i projektet, som nu er blevet udvalgt til at modtage støtte fra EU. Vi var helt overvældede, og det er på alle måder en meget glædelig nyhed for os.”
br
br
a Glæden er til at tage og føle på, også selvom den ikke kommer i form af en stor pose penge:
div.news-partial-subtitle BEATE CEGIELSKA SIGER:
a ”Økonomisk set får vi slet ikke voldsomt meget ud af at være med i EU-projektet, fordi støtten udelukkende går til de udstillinger, der bliver arrangeret som resultat af projektet, og Creative Europe vil støtte op til 80 procent af budgettet. Men vi kommer til at indgå i nogle vigtige europæiske samarbejder, og projektet vil helt sikkert åbne nye muligheder for os – også i forhold til at bringe unge danske kunstnere og kuratorer videre. Det er det, der er det vigtige for os, og det er en fornem gruppe af mennesker, vi skal arbejde sammen med.”
div.news-partial-subtitle GNIDNINGSFRIT SAMARBEJDE
a Et krav til ansøgningerne er, at projekterne skal ske med deltagelse fra minimum 11 organisationer fra i alt fra 10 forskellige lande, som alle deltager i Creative Europe-programmet.
br
br
a Det er mange samarbejdspartnere med forskellige baggrunde og forudsætninger, men indtil nu har Galleri Image kun oplevet, at samarbejdet har fungeret godt.
div.news-partial-subtitle LEDER AF GALLERI IMAGE BEATE CEGIELSKA SIGER:
a ”Vi blev inviteret af hovedorganisationen på projektet ”Procur.arte”, som er en portugisisk organisation. De har været supergode til at hjælpe os med at udfylde den del, vi skulle stå for, så selvom vi forudså, at det ville blive en meget kompliceret proces, så er det gået rigtig fint, fordi de er nogle rigtig gode samarbejdspartnere.”
br
br
a Samarbejdet er altså allerede godt i gang, og med tilskuddet fra puljen ”Europæiske Platforme” har projektet i hvert fald sikret sig 500.000 Euro hvert år de næste fire år til projektets i alt 18 partnere, der omfatter både festivaller, museer, udstillingssteder og tidsskrifter i hele Europa.
br
br
a Foruden Galleri Image deltager også det danske tidsskrift KATALOG – Journal of Photography & Video fra Kerteminde i projektet.
div.news-partial-subtitle FAKTA OM ”CREATIVE EUROPE”
a Creative Europe er et EU-støtteprogram, der har til formål at bevare og udvikle den kulturelle og sproglige mangfoldighed i Europa og styrke de kulturelle og kreative sektorers konkurrenceevne.
br
br
a EU-programmet retter sig mod en bred vifte af kunstnere og aktører inden for de kulturelle og audiovisuelle sektorer.
br
br
a(href='https://slks.dk/internationalt/eu-stoette-creative-europe-desk-danmark/') Læs mere om EU-støtteprogrammet "Creative Europe".
br
br
a(href='https://slks.dk/internationalt/eu-stoette-creative-europe-desk-danmark/tilskudsmodtagere/') Se liste over støttemodtagere i 2017.
div.news-partial-subtitle YDERLIGERE OPLYSNINGER:
a EU-udviklingskonsulent Bradley Allen, Creative Europe Desk Denmark, Slots- og Kulturstyrelsen, tlf.: 33 73 33 22, bal@slks.dk
br
br
a Slots- og Kulturstyrelsens pressetelefon: 22 61 19 95