div.news-partial-headline ANERKENDT EUROPÆISK DANSENETVÆRK UDVÆLGER DANSK KOREOGRAF
a Den danske koreograf Hilde Ingeborg Sandvold er én blandt 20 internationale kunstnere, som er udtaget til at deltage i det anerkendte europæiske netværk Aerowaves i 2018.
img.img-responsive.news-partial-image(src='/images/europe-dancenetwork.jpg')
div.news-partial-grey-text Koreograf Hilde Ingeborg Sandvold. Foto: Tale Hendnes.
a 512. Så mange ansøgere indsendte i år en ansøgning om at blive udvalgt af det europæiske dansenetværk Aerowaves. Men kun 20 kunstnere slap gennem nåleøjet og her i blandt én dansker: Hilde Ingeborg Sandvold.
br
br
a Aerowaves er et netværk, der siden 2014 har modtaget tilskud fra EU-støtteprogrammet ”Creative Europe”, og netværket består i dag af partnere fra i alt 33 europæiske lande.
br
br
a Partnerne arbejder sammen på at give europæiske talenter inden for dans og performance de absolut bedste udviklings- og eksponeringsmuligheder. Og med i netværket er hele to danske partnere: Teatret Bora Bora i Aarhus og Dansehallerne i København.
br 
br
a Hvert år udvælges en række kunstnere på baggrund af en længere ansøgningsproces og en grundig udvælgelsesprocedure, hvor de heldige kunstnere efterfølgende er sikret opvisning i flere af partnerlandene.
br
br
a Med det høje ansøgertal er det langt fra en selvfølge, at kunstnere fra alle partnerlande repræsenteres, og derfor er det en særlig glædelig nyhed, at Danmark igen i år er repræsenteret blandt de udvalgte kunstnere.
div.news-partial-subtitle KUNSTNERISK LEDER VED BORA BORA JESPER DE NEERGAARD SIGER:
a ”Der er altid en høj faglig standard blandt ansøgerne fra ansøgerlandene, og fordi kampen om pladserne er så hård, bliver jeg hvert år overrasket over, at der er danskere på listen over udvalgte kunstnere. Men vi har virkelig nogle rigtig dygtige kunstnere inden for dans og scenekunst i Danmark. Det vidner netop disse udvælgelser også om.”
br
br
a Koreografen Hilde Ingeborg Sandvold er færdiguddannet fra Den Danske Scenekunstskole i 2013, og for den 28-årige kunstner har udvælgelsen altafgørende betydning for hendes fremtidige karriere som koregraf.
div.news-partial-subtitle KOREOGRAF HILDE INGEBORG SANDVOLD SIGER:
a ”Det kom meget bag på mig, fordi jeg har så stor respekt for de kunstnere, netværket har udvalgt tidligere. Jeg havde måske ikke helt forestillet mig, at jeg selv var i den liga endnu. Men det er simpelthen så fedt, fordi det nu giver mig mulighed for at rodfæste mig selv som kunstnerisk skaber, og det går meget i tråd med, hvor jeg gerne vil hen i fremtiden.”
br
br
a Hilde Ingeborg Sandvold er udvalgt på baggrund af sin forestilling ”Dans, for Satan”, der er en 17 minutters solo-forestilling, som tematiserer seksuel frigørelse og undersøger såvel kvindens ydre som indre grænser.
div.news-partial-subtitle EN UNIK CHANCE FOR ALLE PARTER
a Det europæiske netværk Aerowaves er ikke bare en unik mulighed for de særligt udvalgte kunstnere, men også for de enkelte organisationer, som er med i netværket, og dermed også er partnere i samlede projekt.
br
br
a(href='http://www.aerowaves.org/') Læs mere om det europæiske dansenetværk Aerowaves
div.news-partial-subtitle KUNSTNERISK LEDER OG PROJEKTLEDER VED BORA BORA JESPER DE NEERGAARD SIGER:
a ”På grund af Aerowaves og det arbejde, vi har lavet i Aerowaves, er vi blevet udvalgt til at være med i EDN, European Dancehouse Network, som er et endnu større foretagende. Men nu kan vi heller ikke komme med i et bedre netværk. Det giver et fantastisk råderum at have så store netværk at arbejde med. Og det giver os simpelthen mulighed for at være i kontakt med alle i Europa i forhold til danseproduktion, dansepræsentationer, dansefestivaler og research. Så for et dansehus som os er netværket ikke bare et lille vindue, men en kæmpemæssig port til at samarbejde internationalt.”
br
br
a Producer og kunstnerisk leder ved Dansehallerne Hanne Svejstrup er af den holdning, at netværket er en gevinst for rigtig mange af de kunstnere og organisationer i Europa, som beskæftiger sig med dans og scenekunst på den ene eller anden måde.
br
br
a For muligheden for at indsende en ansøgning om optagelse i netværket giver nemlig den enkelte kunster eksponeringsmuligheder, som på alle måder rækker ud over kunstnerens nationale grænse.
div.news-partial-subtitle PRODUCER OG KUNSTNERISK LEDER VED DANSEHALLERNE HANNE SVEJSTRUP SIGER:
a ”Når man indsender en ansøgning, er det en fantastisk mulighed for de unge kunstnere til at komme i direkte kontakt med danseproducere og danseorganisationer. Når alle partnerlandene samles for at behandle ansøgninger, så ser vi jo alle kunstnerne og deres materiale. Selvom de ikke bliver udvalgt, så bliver de alligevel set. Det betyder, at producere og organisationer får mulighed for at holde øje med og være opmærksomme på de kunstnere i fremtiden, hvis de har formået at fange deres opmærksomhed.”
br
br
a	Udover talentudviklingen samarbejder netværket også om den årligt tilbagevendende dansefestival ”Spring Forward”, der hvert år afholdes i et nyt land.
br
br
a I år blev festivallen afholdt i Danmark, hvor Bora Bora dans og visuelt teater stod som arrangør og desuden lånte scener fra fem teatre i byen som supplement til deres egne to scener. Hvordan det så ud, kan du se i en video fra festivalen.
br
br
a(href='https://vimeo.com/224331940') Se video fra ”Spring Forward”
div.news-partial-subtitle FAKTA OM ”CREATIVE EUROPE”
a Creative Europe er et EU-støtteprogram, der har til formål at bevare og udvikle den kulturelle og sproglige mangfoldighed i Europa og styrke de kulturelle og kreative sektorers konkurrenceevne.
br
br
a EU-programmet retter sig mod en bred vifte af kunstnere og aktører inden for de kulturelle og audiovisuelle sektorer.
br
br
a(href='https://english.slks.dk/grants/stamside/tilskud/creative-europe-cooperation-projects-and-cultural-heritage-projects/') Læs mere om puljen for samarbejdsprojekter, som har ansøgningsfrist torsdag den 18. januar 2018
br
br
a(href='https://slks.dk/internationalt/eu-stoette-creative-europe-desk-danmark/') Læs mere om EU-støtteprogrammet "Creative Europe"
div.news-partial-subtitle YDERLIGERE OPLYSNINGER:
a EU-udviklingskonsulent Bradley Allen, Creative Europe Desk Denmark, Slots- og Kulturstyrelsen, tlf.: 33 73 33 22, bal@slks.dk