div.news-partial-headline 
a 
img.img-responsive.news-partial-image(src='/images/')
div.news-partial-grey-text 
a 
br
br
a 
div.news-partial-subtitle 
a 
br
br
a 
br 
br
a 
div.news-partial-subtitle 
a 
div.news-partial-subtitle 
a 
br
br
a 
br
br
a 
div.news-partial-subtitle 
a 
br
br
a 
div.news-partial-subtitle 
a 
br
br
a 
div.news-partial-subtitle 
a 
br
br
a 
div.news-partial-subtitle 
a  



