div.news-partial-headline BLIV EN DEL AF EUROPÆISK ÅR FOR KULTURARV I 2018
a EU-parlamentet og EUs kulturministre har udnævnt 2018 til ”Europæisk År for Kulturarv”. Målet er at sætte fokus på både den nationale kulturarvs værdi og betydning og på den fælles og uadskillelige kulturarv, vi deler på tværs af Europas landegrænser.
img.img-responsive.news-partial-image(src='/images/european-year.jpg')
div.news-partial-grey-text Dansk kulturarv dækker bredt. Her er det ryttere i parforcejagtlandskabet i Dyrehaven nord for København. Foto: Bolette Lehn Petersen.
a 2018 er udnævnt til kulturarvsår af EU-parlamentet og EUs kulturministre. I løbet af året vil der blive afholdt en række arrangementer på institutioner, der sætter fokus på de europæiske forbindelser og den fælles kulturarv.
br
br
a Fra EUs side er der afsat i alt 7 millioner Euro – eller godt 50 millioner kroner – til indsatsen. Hvis danske kulturinstitutioner eller andre med viden om og interesse for kulturliv har lyst til at være en del af Europæisk År for Kulturarv, så er der mulighed for at søge om tilskud gennem puljen ”2018 European Year of Cultural Heritage-Projects”. Der er ansøgningsfrist den 22. november.
br
br
a I Danmark er det Slots- og Kulturstyrelsen, der koordinerer og informerer om indsatsen og vejleder ansøgere, der har lyst til at deltage i kulturarvsåret, som bliver officielt åbnet ved European Culture Forum den 7. og 8. december i Milano i Italien.
div.news-partial-subtitle CHEFKONSULENT OG NATIONAL KOORDINATOR BOLETTE LEHN PETERSEN SIGER:
a ”I løbet af 2018 vil der i alle egne af Europa blive afholdt arrangementer med fokus på kulturarv, og vi glæder os til at høre fra de organisationer og institutioner, som i løbet af 2018 har arrangementer der ligger indenfor årets temaer.”
br
br
a Det forventes, at 25-30 projekter vil blive tildelt støtte af EU-støtteprogrammet Creative Europe via den særlige pulje for kulturarvsprojekter. Den almindelige pulje for samarbejdsprojekter har åbent samtidigt, hvor ansøgningsfrist er den 18. januar 2018.
div.news-partial-subtitle KONSULENT BRADLEY ALLEN SIGER:
a Det er nu og her, man skal søge midler, hvis man har et projekt af tværnational karakter. Vi håber, at der er mange kulturinstitutioner, som har lyst til at være en del af Europæisk År for Kultur. Det kan være for eksempel museer, bygninger, arkiver, biblioteker, musik, film eller landskaber, som bliver en del af en kulturarvsarrangement, for definitionen af kulturarv omfatter mange områder.”
br
br
a Arrangementer under Det Europæiske År for Kulturarv 2018 kan benytte et særligt logo for året ved henvendelse til Slots- og Kulturstyrelsen.
br
br
a(href='https://slks.dk/internationalt/eu-stoette-creative-europe-desk-danmark/tilskudspuljer/') Læs mere om ansøgningen og krav til ansøgere til puljen for ”Samarbejdsprojekter”
br
br
a(href='https://slks.dk/internationalt/det-europaeiske-aar-for-kulturarv-2018/') Læs mere om Det Europæiske År for Kulturarv 2018 
br
br
a(href='http://europa.eu/cultural-heritage/') Læs mere hos EU-kommissionen
div.news-partial-subtitle YDERLIGERE OPLYSNINGER:
a For tilskud: Konsulent Bradley Allen, Slots- og Kulturstyrelsen, tlf.: 33 73 33 22, bal@slks.dk
br
br
a For projekter: Chefkonsulent Bolette Lehn Petersen, Slots- og Kulturstyrelsen 33 74 52 44, blp@slks.dk
br
br
a Slots- og Kulturstyrelsens pressetelefon: 22 61 19 96