div.news-partial-headline EU TILDELER MERE END EN MILLION KRONER TIL UDVIKLING AF DANSKE FILMPROJEKTER
a Europa-Kommissionen har netop uddelt støttemidler til udvikling af enkelte filmprojekter. Blandt modtagerne findes denne gang tre danske filmselskaber, der tilsammen modtager mere end en million danske kroner.
img.img-responsive.news-partial-image(src='/images/far-til-fire-på-toppen.jpg')
div.news-partial-grey-text ASA Film Production står bag de populære familiefilm om Far til fire. Nu bliver den næste film i serien, ”Far til fire i solen”, udviklet med støtte fra EU (foto: Karina Tengberg).
a Da Europa-Kommissionen tidligere i oktober offentliggjorde listen over modtagerne af udviklingsstøtte til enkeltprojekter var det til glæde for ASA Film Production, Snowglobe og Zentropa Entertainments32, der alle var at finde på listen. Produktionsselskaberne modtager hver 50.000 EUR, hvilket svarer til 372.000 danske kroner, så samlet set er det i denne omgang lykkedes den danske filmbranche at hive lidt over 1,1 million kroner hjem.
div.news-partial-subtitle Dansk fiktion med internationalt potentiale
a Støtten tildeles fra en pulje under EU’s støtteprogram Creative Europe, der har en separat MEDIA-del, og netop denne pulje fokuserer på udvikling af enkeltprojekter. Ansøgerne har mulighed for at søge inden for genrerne animation, kreativ dokumentar og fiktion, og både ASA Film Production, Snowglobe og Zentropa Entertainments32 modtager støtten til udvikling af filmprojekter inden for genren ”fiktion”. Nærmere bestemt modtager de støtten til udvikling af henholdsvis ”Far til fire i solen”, ”Selvmordsturisten” og ”Just Like Beauty”.
br
br
a Europa-Kommissionen har vurderet ansøgningerne ud fra et pointsystem, hvor de blandt andet giver point for projekternes kvalitet, udviklings-, finansierings- og marketingstrategi samt distributionspotentiale på det europæiske marked. Derudover kan et projekt få tildelt ekstra point, hvis det for eksempel er målrettet et ungt publikum, hvilket vil sige børn og unge under 16 år.
div.news-partial-subtitle Benhård konkurrence
a Europa-Kommissionen modtog 406 ansøgninger fra 34 lande i denne anden runde i 2017-puljen om udviklingsstøtte til enkeltprojekter. I alt 77 ansøgninger fra 30 forskellige lande blev imødekommet med en tildeling af EU-støttemidlerne, hvilket svarer til en gennemsnitlig succesrate på 19 procent og vidner om den hårde konkurrence, der er om puljen.
br
br
a ASA Film Production og Zentropa Entertainments32 er tidligere blevet tildelt støttemidler fra Creative Europe for andre projekter, men det er første gang, at Snowglobe slipper gennem nåleøjet. De modtager støtten til udvikling af deres film ”Selvmordsturisten”, og støtten er med til at sikre en produktion i topkvalitet:
br
br
a ”Støtten til udvikling af enkeltprojekter er et kvalitetsmærke, som profilerer både filmen og produktionsselskabet internationalt. Støtten medvirker til, at vi kan give filmen de bedste udviklingsbetingelser, hvilket for et uafhængigt, nyopstartet selskab som vores er af afgørende betydning” udtaler producer i Snowglobe Eva Jakobsen.
br
br
a Sammen med producerne Katrin Pors og Mikkel Jersin oprettede Eva Jakobsen Snowglobe i 2015, og de har allerede skabt en stærk international profil for deres selskab ved at være koproducent på film som "The Untamed" (Amat Escalante, Mexico 2016), "Godless" (Ralitza Petrova, Bulgarien 2016) og norske Joachim Triers thriller "Thelma", der har dansk biografpremiere d. 30. november.
br
br
a(href='https://eacea.ec.europa.eu/creative-europe/selection-results/eacea202016-support-for-content-development-single-project-2017-deadline-2_en') En komplet oversigt over støttemodtagerne kan ses på Europa-Kommissionens hjemmeside.
br 
br
a(href='http://www.dfi.dk/Branche_og_stoette/Creative-Europe-Desk/Nyt-fra-Creative-Europe/2017/September/MEDIA-CALL-Enkeltprojekter-2018.aspx') Der er åbent for ansøgninger til udvikling af enkeltprojekter 2018. Læs mere her.