div.news-partial-headline SÅDAN GRIBER MAN BEDST ANSØGNINGSPROCESSEN AN
a Hvis man er Creative Europe-ansøger, så er det lige nu, den helt store pulje ”Samarbejdsprojekter” i kulturdelen af EU-støtteprogrammet ”Creative Europe” er åben for ansøgninger. JazzDanmark sad i præcis den situation for et år siden, og her deler de deres erfaringer med ansøgningsprocessen.
img.img-responsive.news-partial-image(src='/images/jazz-denmark.jpg')
div.news-partial-grey-text Projektleder Eva Frost taler ved lanceringen af JazzDanmarks udvekslingsprojekter i Japan 2017. Foto: Brian Scott Peterson.
a Lige nu er rigtig mange danske organisationer i fuld gang med ansøgningsprocessen, men hvordan skruer man en succesfuld ansøgning sammen?
br
br
a Det har JazzDanmark god erfaring med, da de i foråret modtog omkring 1,3 millioner kroner til projektet ”Kids Can”. Projektleder Eva Frost fra JazzDanmark giver her sine råd til dem, der vil i gang med at ansøge.
div.news-partial-subtitle 1. LÆR PRIORITERINGERNE AT KENDE OG VÆR STRATEGISK
a Vi havde i JazzDanmark længe gået med ambitionen om at søge EU-midler og følte, at vi nu havde mod på opgaven, som naturligvis er omfattende, men samtidig er det et eftertragtet kvalitetsstempel at få godkendt en EU-ansøgning.
br
br
a Vi bookede som noget af det første et rådgivningsmøde med Creative Europe Desk Denmark, hvor vi fik strategisk vejledning i forhold til spredning af partnerlande og hvilke elementer i ansøgningen, der oftest lægges vægt på i vurderingen. Det var helt overordnet. Vi vidste allerede, at vi kunne finde samarbejdspartnere gennem det europæiske jazznetværk ”European Jazz Network”, men mødet med Creative Europe Desk var virkelig godt, fordi der jo helt klart er strategi i, at man har lande i både nord, syd, øst og vest i Europa.
br 
br
a Det er endt med, at vi samarbejder med organisationer i henholdsvis Estland og Portugal, men egentlig startede vi med at være fire lande om projektet. Vi endte dog med at vælge det sidste land fra, fordi det besværliggjorde samarbejdet med for eksempel lange svartider. Det var også et strategisk valg fra vores side, fordi vi jo er hovedansvarlige, og vi vil ikke risikere, at noget går galt eller bliver mere svært end nødvendigt.
div.news-partial-subtitle 2. HOLD DET SIMPELT
a Jeg kan kun opfordre folk til at lave et projekt, der er så simpelt som muligt. Det skal både være så simpelt som muligt at forstå, men også at afvikle. Det var netop sådan, vi selv tænkte, og det var faktisk, fordi vi besluttede os for at søge, da der kun var en måned til fristens udløb. 
br
br
a Derudover er det også godt at være få partnere, så der ikke er for mange, man skal holde styr på. Faktisk er det lidt ligesom at skrive et speciale på universitetet. Du skal ikke begynde på at tage en ny teoretiker ind midt i processen, for så bliver det bare uoverskueligt og svært at følge vellykket til dørs.
div.news-partial-subtitle 3. VÆR INNOVATIV
a Et ord, som blev nævnt på vores første møde med Creative Europe Desk Denmark, og som også gik igen på de efterfølgende rådgivningsmøder, var ordet ”innovativt”. Vi fik ros for grundsubstansen i vores projekt med jazzcamps og koncerter for børn i forskellige lande, men det blev understreget, at vores ansøgning med stor sandsynlighed ikke ville komme gennem nåleøjet, medmindre vi tilføjede noget nyt - noget, som ikke var set før.
br
br
a Så kom jeg på idéen med de her børnejournalister, som skal stå for al formidlingen af de jazzcamps, som afholdes. En del af udfordringerne i udviklingen af publikumsinddragelsen i jazzmusik er netop kommunikation, fordi de unge, som er fremtidens jazzmusikere, ikke kan nås gennem den traditionelle, trykte jazzjournalistik, men er optaget af nogle helt nye medier og formater. Så jeg vurderede, at et sideløbende børnejournalistprogram var tilpas innovativt. Det innovative er et meget væsentligt element at have for øje.
div.news-partial-subtitle 4. LÆR EU’S SPROG AT KENDE
a Fondsansøgninger er et ”imitation game”, så det gælder om at lægge sit eget vokabular på hylden, afkode EU’s sprog og så lægge det over dit eget projekt. Det kan man sagtens, for hvis din ansøgning bliver godkendt, har du fået pengene og kan lægge dit eget sprog over det igen.
br
br
a I vores tilfælde er der jo tale om det helt samme projekt, men i ansøgningen brugte jeg ord, som jeg aldrig troede, jeg skulle bruge som for eksempel ”transnational mobilitet”. Det bruger jeg aldrig, når jeg præsenterer projektet i dag. Så det gælder om at svare på spørgsmålene én til én. Og EU er faktisk meget én til én. Hvis man først begynder at tænke over, hvorfor de spørger om alle mulige mærkelige ting, så ender man med at bruge lang tid på det. Hvis de beder dig om at uddybe noget eller vedlægge et bestemt dokument, så skal du bare gøre det og ikke tænke over hvorfor, eller om du gør det rigtigt, for de skal nok sige til, hvis du gør det forkert.
div.news-partial-subtitle 5.  GIV IKKE OP
a Første gang vi indsendte ansøgningen fik vi et afslag. Men Europa-Kommissionen medsender en evaluering, og vi kunne se, at de generelt var meget positive, og at vi pointmæssigt lå virkelig tæt på de projekter, som så havde modtaget støtte.
br
br
a Vi snakkede med Creative Europe Desk Denmark, som virkelig opfordrede os til at søge igen, fordi de ud fra evalueringen kunne se, at vi var blevet hårdt bedømt, og at vores projektidé stod stærkt. Derfor besluttede vi at søge igen, jeg finjusterede og gennemskrev vores ansøgning, og så var heldet med os. Så det betaler sig at være vedholdende.
br
br
a Spørgsmål vedrørende ansøgninger kan rettes til Creative Europe Desk Denmark, der står klar til at rådgive ansøgere.
div.news-partial-subtitle YDERLIGERE OPLYSNINGER:
a EU-udviklingskonsulent Bradley Allen, Creative Europe Desk Denmark, Slots- og Kulturstyrelsen, tlf.: 33 73 33 22, bal@slks.dk


