div.news-partial-headline ROSKILDE BIBLIOTEKERNE VISER LITTERATUR I ALLE AFSKYGNINGER
a I en ny, international udstilling viser Roskilde Bibliotekerne en del af deres internationale projekt ”Turn on Literature”, som er støttet af ”Creative Europe”.
img.img-responsive.news-partial-image(src='/images/roskilde-library.jpg')
div.news-partial-grey-text Poesimaskinen, som forfatter Ursula Andkjær Olsen har leveret tekster til. Foto: Dorrit Birklund.
a Litteratur udkommer i dag ikke længere kun i form af fysiske bøger lavet af papir. For i takt med at digitaliseringen vinder større og større indpas, har litteraturen flyttet sig fra papir, blæk og trykkemaskiner til computerskærme, iPads, smartphones og sågar tredimensionelle figurer.
br
br
a Det skift har gjort det muligt at inddrage læsere på en helt ny måde end tidligere, når det drejer sig om at udbyde litteratur og litterære værker, og det er præcis det, man kan opleve på udstillingen ”Litteraturens vilde former – fra a til 3D” på Roskilde Bibliotekerne, hvor man ikke mener, at den digitale litteratur får den opmærksomhed i Danmark, den fortjener.   
div.news-partial-subtitle PROJEKTLEDER VED ROSKILDE BIBLIOTEKERNE MARTIN CAMPOSTRINI SIGER:
a ”Den digitale litteratur er super aktuel, men det er en litteratur, som ikke har et kredsløb på samme måde, som bogen har. Der er ikke anmeldelser af den digitale litteratur, og der skal ikke forlag til at trykke den. Så der mangler i høj grad nogle aktører til at formidle den. Her er biblioteket oplagt, fordi det kan forbinde mennesker, herunder forfattere, publikum og udviklere, som alle er interesserede i den digitale litteratur.”
br
br
a Udstillingen på Roskilde Hovedbibliotek består af 23 værker, og derudover er dele af udstillingen også tilgængelig på lokalbiblioteker i Jyllinge, Viby, Gadstrup, Ågerup og Gundsømagle.
br 
br
a Blandt værkerne findes alt fra kartoffeltryk, 1700-tals-bøger, 3D-printere, en skulptur lavet af bøger og ikke mindst nye danske digitale litteraturværker. Det største digitale værk er den særlige poesimaskine, hvor publikum kan lave deres egne digte ud fra tekster leveret af forfatter Ursula Andkjær Olsen.
div.news-partial-subtitle PROJEKTLEDER MARTIN CAMPOSTRINI SIGER:
a ”Indtil videre har vi kun fået positiv feedback. Vi har tilbudt særlige rundvisninger til de store folkeskoleklasser og gymnasieklasser, og de er blevet fuldt booket, så det har på alle måder været en succes.”
div.news-partial-subtitle EN LILLE DEL AF ET STØRRE PROJEKT
a Udstillingen er en del af det internationale projekt ”Turn on Literature”, som Roskilde Bibliotekerne har etableret og fundet samarbejdspartnere til i både Norge og Rumænien.
br
br
a Projektet er støttet af midler fra ”Creative Europe”, og tilskuddet kommer mere bestemt fra puljen ”Samarbejdsprojekter” og kategorien ”Mindre samarbejdsprojekter”.
br
br
a Roskilde Bibliotekerne fik tilsagn om støtten i 2016, men arbejdet med projektet gik i gang for flere år siden.
div.news-partial-subtitle PROJEKTLEDER VED ROSKILDE BIBLIOTEKERNE MARTIN CAMPOSTRINI SIGER:
a ”Vi begyndte for flere år siden, hvor vi først og fremmest undersøgte, om vores organisation havde de ressourcer, det kræver at drive et internationalt projekt. Derefter havde vi lidt udfordringer med at finde de rette partnere, og vi fik også afslag første gang, vi søgte.”
br
br
a Men tålmodighed og vedholdenhed er en dyd, der kan betale sig at besidde, når det gælder EU-ansøgninger, og med afslaget fulgte en fyldig begrundelse, og den havde Roskilde Bibliotekerne stor gavn af, da de arbejdede på ansøgningen anden gang.
div.news-partial-subtitle MARTIN CAMPOSTRINI SIGER:
a ”Vi var faktisk forberedte på måske at skulle søge tre gange. Så vi var positivt overraskede over, at den gik igennem anden gang. Men vi havde også taget højde for alle de kommentarer, som Europa-Kommissionen havde noteret i afslaget på den første ansøgning.”
br
br
a Samarbejdet har været i fuld gang siden da, og selvom det langt fra er afsluttet, så har Roskilde Bibliotekerne allerede lært meget af at arbejde internationalt.
div.news-partial-subtitle PROJEKTLEDER MARTIN CAMPASTRINI SIGER:
a ”Det har givet os helt vildt meget i forhold til at netværke med andre organisationer. Og så er det altid interessant at møde folk fra andre lande inden for samme område, som man selv arbejder med, og så samarbejde om det, have faglige diskussioner på tværs af lande og finde ud af, hvor forskelligt man kan gribe opgaven an.”
br
br
a Udstillingen vises i Roskilde frem til mandag den 13. november, hvorefter den skal udstilles i Bergen i Norge og derefter Râmnicu Vâlcea i Rumænien, hvor den genfortolkes af sproghensyn og for at inddrage forfattere fra de pågældende lande.
div.news-partial-subtitle YDERLIGERE OPLYSNINGER:
a Projektleder ved Roskilde Bibliotekerne Martin Campostrini, tlf.: 20 51 45 52, martincam@roskilde.dk 
br
br
a EU-udviklingskonsulent Bradley Allen, Creative Europe Desk Denmark, Slots- og Kulturstyrelsen, tlf.: 33 73 33 22, bal@slks.dk 



