div.news-partial-headline FORLAG FÅR EU-STØTTE TIL OVERSÆTTELSE AF TOP-LITTERATUR
a Det danske forlag Jensen & Dalgaard har netop modtaget en bevilling fra EU på cirka 337.000 kroner til oversættelse af prisvindende litteratur fra små sprogområder.
img.img-responsive.news-partial-image(src='/images/carousel-img-1.jpg')
div.news-partial-grey-text Jensen & Dalgaard skal nu oversætte og udgive blandt andre et værk af den finske forfatter Selja Ahava. Foto: Liisa Valonen.
a To estiske romaner, en finsk roman, en roman af en montenegrinsk forfatter og det store middelalderværk ”Tirant lo Blanc” fra 1490, som oprindeligt er skrevet på valenciansk.
br
br
a Det er disse værker, som forlaget Jensen & Dalgaard netop har modtaget en bevilling fra EU til at få oversat og udgivet på dansk.
br
br
a De første fire værker er skrevet af forfattere, som alle har modtaget EU’s litteraturpris, og bevillingen kommer fra puljen ”Litterære oversættelser” i EU-støtteprogrammet ”Creative Europe”.
br 
br
a Ifølge Jeanne Dalgaard, der er forlægger ved Jensen & Dalgaard, har EU’s støttekroner til litterære oversættelser haft stor betydning for realiseringen af det europæiske projekt.
div.news-partial-subtitle FORLÆGGER VED JENSEN & DALGAARD JEANNE DALGAARD SIGER:
a ”Det har en kolossal betydning, at EU bakker op om at få litteraturen til at rejse over grænser især fra små sprogområder til andre små sprogområder. For hele det europæiske projekt er det vigtigt at få en fornemmelse af, hvad der rører sig andre steder end dér, hvor det er nemt at orientere sig som i for eksempel det engelske og skandinaviske sprogområde.”
br
br
a	Kun ét dansk forlag har tidligere modtaget støtte fra oversættelsespuljen i ”Creative Europe”. Det er forlaget Hovedland, som modtog en bevilling på cirka 142.000 kroner i 2014.
div.news-partial-subtitle OVERSÆTTELSESSTØTTE ER ALTAFGØRENDE
a Støtten er dog ikke kun af betydning for det europæiske projekt, men også for selve Jensen & Dalgaard, der ellers ikke ville kunne igangsætte produktionen af de litterære oversættelser.
div.news-partial-subtitle FORLÆGGER VED JENSEN & DALGAARD JEANNE DALGAARD SIGER:
a ”I Danmark er antallet af læsere til oversat skønlitterær fiktion af høj kvalitet desværre ikke stort nok til, at en udgivelse kan bære sig selv økonomisk. Med andre ord: Til den type romaner, vi udgiver, er det altafgørende med oversættelsesstøtte fra tilgængelige puljer.”
br
br
a Jeanne Dalgaard fortæller, at de i længere tid havde overvejet at søge støtte gennem EU-støtteprogrammet ”Creative Europe”, men at strukturerne omkring selve ansøgningsprocessen er skyld i, at de først indsendte en ansøgning i år.
div.news-partial-subtitle JEANNE DALGAARD SIGER:
a ”Vi har igennem længere tid overvejet Creative Europes støtteprogram, hvor man søger støtte til en håndfuld titler ad gangen, herunder også produktion og markedsføring. Ansøgningsprocessen kræver tålmodighed. Og endnu mere tålmodighed. Og en tro på, at det MÅ kunne lade sig gøre at finde rundt i det EU'ske bureaukrati.”
br
br
a Tålmodighed – og dygtighed – er, som alle ved, en dyd, og det lykkedes da også Jensen & Dalgaard at blive tildelt støtte i andet forsøg.
div.news-partial-subtitle FAKTA OM ”CREATIVE EUROPE”
a Creative Europe er et EU-støtteprogram, der har til formål at bevare og udvikle den kulturelle og sproglige mangfoldighed i Europa og styrke de kulturelle og kreative sektorers konkurrenceevne.
br
br
a	EU-programmet retter sig mod en bred vifte af kunstnere og aktører inden for de kulturelle og audiovisuelle sektorer.
div.news-partial-subtitle YDERLIGERE OPLYSNINGER:
div EU-udviklingskonsulent Bradley Allen, Creative Europe Desk Denmark, Slots- og Kulturstyrelsen, tlf.: 33 73 33 22, bal@slks.dk