.content {
	padding-top: 120px;
}

.navbar-logo {
	padding 20px
	width 100%
}

.navbar {
	background-color #FFFFFF
}

.nav {
	padding 10px
	min-height 60px
}

.navbar-item {
	color #000000
}

.navbar-item-active {
	color: #003399;
}

.black-color {
	color: #000000;
}

.white-color {
	color: #FFFFFF;
}

.blue-color {
	color: #003399;
}

.yellow-color {
	color: #FFCC00;
}