.content {
	padding-top: 120px;
}

//Top navbar
.navbar-logo {
	width 100px
}

.navbar {
	background-color #FFFFFF
}

.nav {
	padding 10px
	min-height 60px
}

.nav-item {
	color #000000
}

.nav-item.active {
	color: #003399
}

//Bottom navbar
.navbar-bot {
	min-height 170px
	padding 30px
	color #FFFFFF
	background-color #000000
	text-align center
}

.footer-img {
	padding-top 20px
	width 100%
}

.footer-newsletter {
	padding-top 20px
}

.footer-input {
	color #000000;
}

.footer-social-icon{
	width 100%
	padding-top 15px
}

.footer-button {
	color #000000
	background-color #FFFFFF
}

//Body
body {
	padding-top 45px
	background-color #f7f7f7
}

//Index.jade
.carousel {
	max-height 550px;
    overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    width: 100%;
}
.carousel-inner > .item > img {
    position: absolute;
    width: 100%;
}
.header-carousel-caption {
    right 1800px;
    top 80px;
    bottom auto;
    font-size: 30px;
    line-height: 1.4;
}

.carousel-indicators {
	margin-bottom 80px;
}

#headline {
	min-height 250px
	background-color #FFFFFF
}

#headline-text {
	font-size 17px
	min-height 280px
	padding-top 95px
	margin-bottom 0px
}

.carousel-title {
	width 600px
}

#signate {
	
}

#signature-img {
	width: 100%;
	min-height 150px
}

#signate-text {
    
}

.signature-carousel-caption {
	//left 800px;
    //top auto
    //bottom -400px;
    width 200px
}


//News
.demo-card-wide.mdl-card {
  width 512px
}

.mdl-card-title {
	font-size 18px
	font-weight 700
	color #000000
	margin-bottom 20px
}

.demo-card {
	margin 35px
}

.demo-card > .mdl-card__title {
  color #fff
  height 200px
  background-repeat no-repeat
  background-size 100%
  overflow hidden
}

.mdl-card__supporting-text {
	height 260px
}

.demo-card-wide > .mdl-card__menu {
  color #fff
}

//News partial
.news-partial-body {
	padding-top 40px;
	padding-bottom 40px;
	background-color	
	font-weight 500
}

.news-partial-headline {
	font-size 30px
	font-weight 900
	line-height 1
	margin-bottom 20px
	width 600px
}

.news-partial-subtitle {
	font-size 17px
	font-weight 900
	margin-top 20px
	margin-bottom 5px
}

.news-partial-text {
	
}

.news-partial-image {
	margin-top 15px
	width 100%
}

.news-partial-grey-text {
	color #999
	margin-bottom 15px
	font-size 14px
}

.black-color {
	color: #000000;
}

.white-color {
	color: #FFFFFF;
}

.blue-color {
	color: #003399;
}

.yellow-color {
	color: #FFCC00;
}