.content {
  padding-top: 120px;
}
.navbar-logo {
  width: 100px;
}
.navbar {
  background-color: #fff;
}
.nav {
  padding: 10px;
  min-height: 60px;
}
.nav-item {
  color: #000;
}
.nav-item.active {
  color: #039;
}
.navbar-bot {
  min-height: 170px;
  padding: 30px;
  color: #fff;
  background-color: #000;
  text-align: center;
}
.footer-img {
  padding-top: 20px;
  width: 100%;
}
.footer-newsletter {
  padding-top: 20px;
}
.footer-input {
  color: #000;
}
.footer-social-icon {
  width: 100%;
  padding-top: 15px;
}
.footer-button {
  color: #000;
  background-color: #fff;
}
body {
  padding-top: 90px;
  padding-bottom: 200px;
  background-color: #f7f7f7;
}
.carousel {
  max-height: 550px;
  overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
}
.carousel-inner > .item > img {
  position: absolute;
  width: 100%;
}
.header-carousel-caption {
  right: 1800px;
  top: 80px;
  bottom: auto;
  font-size: 30px;
  line-height: 1.4;
}
.carousel-indicators {
  margin-bottom: 80px;
}
#headline {
  min-height: 250px;
  background-color: #fff;
}
#headline-text {
  font-size: 17px;
  min-height: 280px;
  padding-top: 95px;
  margin-bottom: 0px;
}
.carousel-title {
  width: 600px;
}
#signature-img {
  width: 100%;
  min-height: 150px;
}
.signature-carousel-caption {
  width: 200px;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.mdl-card-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}
.demo-card {
  margin: 35px;
}
.demo-card > .mdl-card__title {
  color: #fff;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.mdl-card__supporting-text {
  height: 260px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.news-partial-body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.news-partial-headline {
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 20px;
  width: 600px;
}
.news-partial-subtitle {
  font-size: 17px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
}
.news-partial-image {
  margin-top: 15px;
  width: 100%;
}
.news-partial-grey-text {
  color: #999;
  margin-bottom: 15px;
  font-size: 14px;
}
#about-headline-text {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}
#about-headline {
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 20px;
  width: 600px;
}
#about-subtitle {
  font-size: 17px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
}
.about-iframe {
  width: 100%;
  min-height: 500px;
}
.black-color {
  color: #000;
}
.white-color {
  color: #fff;
}
.blue-color {
  color: #039;
}
.yellow-color {
  color: #fc0;
}
